/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

body {
  background-color: #f0f2f5;
}

#loading-animation {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.5);
  z-index: 2000;
}

main {
  display: none;
}

ul {
  list-style-type: none;
}

li {
  word-wrap: break-word;
}

.spinner-border {
  position: fixed;
  left: 50%;
  top: 45%;
}

#box-main-content {
  border: 1px solid #d5d5d5;
  border-radius: 6px;
}

.personal-section {
  background-color: gray;
  color: white;
  border: none;
}

.personal-section:focus {
  outline: none;
}

.personal-section.active {
  background-color: #333;
}

.personal-section:first-child {
  border-top-left-radius: 6px;
}

.personal-section:first-child.active {
  border-right: 1px solid #292929;
}

.personal-section:last-child {
  border-top-right-radius: 6px;
}

.personal-section:last-child.active {
  border-left: 1px solid #292929;
}

#form-section {
  display: none;
}

.form-check .form-check-input {
  float: none;
  margin-left: 0;
}

#issues-list {
  text-align: left!important;
  padding-left: 0;
}

.issue-button:nth-child(n+2) {
  border-left: 1px solid rgb(8,90,230);
}